<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="css/style.css"  rel ="stylesheet" type="text/css">
<title>JSP PAGE</title>
</head>
<body>


<div id="cuadrobase" >


			<img src="imagen/descarga.png">
	

	<div id="cuadro">
	
	
		<form action="">
			<p id="idlogin">Acceso al Sistema  </p>
			<hr>
			<br/><br/>
			<label id="subtitulo"> Nombre de usuario</label>
			<br/><br/>
			<input type="text" class="entrada"/>
			<br/><br/>
			<label id="subtitulo">Contraseña</label>
			<br/><br/>
			<input type="password" class="entrada"/>
			<br/><br/>
			
			<input type="submit" value="Iniciar sesion" id="boton" class="button" />
			
		</form>
				
	</div>
	
			
		</div>
	
</body>
</body>
</html>