	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org"   >
	<head>
	<meta charset="UTF-8">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	
	 <link rel="stylesheet" href="/src/main/resources/static/css/prueba.css">
	
	<title>Mensajes CDD</title>
	
	</head>
	
	<body>
		
		<header th:replace="plantilla/plantilla_header :: header"></header>
		
		<hr>
		
		<br>
		
		
		<div class="table-responsive">
			
			<table class="table"   border="1">
				
				<tr>
					<th>CIC</th>
					<th>DOCUMENTO</th>
					<th>OPERADOR</th>
					<th>AFILIACION STATUS</th>
					<th>TOKEN STATUS</th>
				</tr>
				
				<tr th:each="mensaje : ${listacdd}">
					
					<td th:text="${mensaje.f01_id_client} "></tdth>
					<td th:text="${mensaje.f01_num_doc}"></td>
					<td th:text="${mensaje.f01_oper_mobile}"></td>
					<td th:text="${mensaje.f01_affil_status}"></td>
					<td th:text="${mensaje.f01_token_status}"></td>							
				</tr>						
			</table>
		
		</div>
		
		
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="busqueda.js" ></script>
	
	
	</html>